@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #333333;
  flex-direction: column;
}

h1, .decorative-h1 {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

h2, .decorative-h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.main-index-title {
  margin-top: 69px;
  margin-bottom: 25px;
}

.city-advantages-title {
  margin-top: 0;
  margin-bottom: 90px;
}

.city-advantages-grid-container {
  width: 100%;
  display: grid;
  grid-template-areas:
    "advantage-1 photo-1 photo-1"
    "advantage-2 advantage-3 advantage-4"
    "photo-2 photo-2 advantage-5"
    "advantage-6 advantage-6 advantage-6";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, minmax(385px, auto)) minmax(246px, auto);
}

.city-advantages-photo img {
  display: block;
  width: 100%;
  height: auto;
}

.city-advantages-photo-1 {
  grid-area: photo-1;
}

.city-advantages-photo-2 {
  grid-area: photo-2;
}

.city-advantages-item,
.vacation-tips-item
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vacation-tips-item
{
  min-height: 385px;
}

.city-advantages-list li:nth-child(1),
.city-advantages-list li:nth-child(5) {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.city-advantages-list li:nth-child(2),
.city-advantages-list li:nth-child(4),
.vacation-tips-list li:nth-child(2)
{
  background-color: rgba(131, 179, 211, 0.12);
}

.city-advantages-list li:nth-child(3),
.vacation-tips-list li:nth-child(1),
.vacation-tips-list li:nth-child(3)
{
  background-color: rgba(131, 179, 211, 0.2);
}

.city-advantages-list li:nth-child(6) {
  grid-area: advantage-6;
}

.city-advantages-list li:nth-child(6) {
  flex-direction: column-reverse;
}

.city-advantages-list li:nth-child(6) .decorative-h1{
  margin: 0 0 20px;
}

.city-advantages-list li:nth-child(6) h3{
  margin: 0;
}

.city-advantages-item-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin: 30px auto;
  background: rgba(0, 0, 0, 0.3);
}

.city-advantages-list li:nth-child(1) .city-advantages-item-title::after,
.city-advantages-list li:nth-child(5) .city-advantages-item-title::after
{
  background: rgba(255, 255, 255, 0.3)
}

.vacation-tips-title::before {
  content: "";
  display: block;
  margin: 30px auto;
  background-size: cover;
  background-repeat: no-repeat;
}

.vacation-tips-title-housing::before {
  width: 77px;
  height: 72px;
  background-image: url('../images/decor/icons/vacation-tips-housing.svg');
}

.vacation-tips-title-food::before {
  width: 76px;
  height: 72px;
  background-image: url('../images/decor/icons/vacation-tips-food.svg');
}

.vacation-tips-title-souvenir::before {
  width: 76px;
  height: 76px;
  background-image: url('../images/decor/icons/vacation-tips-souvenir.svg');
}

.vacation-tips-list
{
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.vacation-tips-item {
  flex: 1 1 0;
}

.city-advantages-description,
.vacation-tips-description {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

.main-container {
  flex-grow: 1;
}

.inner-header-title {
  margin: 0 0 8px;
  text-transform: none;
  font-style: normal;
  font-size: 60px;
  line-height: 78px;
  text-align: left;
  color: white;

}

.page-wrapper {
  flex-grow: 1;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  position: relative;
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.navigation-menu {
  margin-left: 238px;
}

.navigation-item {
  height: 64px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  position: relative;
}

.navigation-item-want-to-sedona {
  padding: 0 0 0 20px;
}

.navigation-item-text a {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.navigation-item-text.navigation-item-active a::after,
.navigation-item-text a:hover::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 2px;
  background-color: #756257;
  opacity: 1;
  z-index: 1;
}

.navigation-item-icon a,
.footer-social-item a {
  width: 100%;
  height: 100%;
}

.navigation-item-icon {
  padding: 0;
  width: 44px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-item-icon-search {
  background-image: url('../images/decor/icons/search.svg');
}

.navigation-item-icon-favorites {
  background-image: url('../images/decor/icons/favorites.svg');
}

.navigation-user {
  margin-right: 70px;
  margin-left: auto;
}

.page-header-small-logo {
  position: absolute;
  z-index: 10;
  left: 70px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.main-banner {
  position: relative;
  width: 100%;
}

.main-banner-background {
  width: 100%;
  height: auto;
  display: block;
}

.main-banner-logo-wrapper {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.city-advantages-list {
  text-align: center;
  display: contents;
}

.vacation-tips-item {
  text-align: center;
}

.city-advantages-item-title,
.vacation-tips-title
{
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.vacation-tips-title
{
  margin-bottom: 30px;
}

.main-banner-divider {
  background-image: url('../images/decor/main-banner-divider.svg');
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 57px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom center;
}

.button {
  border: none;
  box-shadow: none;
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
}

.action-button {
  background-color: #82B3D3;
}

.transparent-button {
  background-color: transparent;
}

.light-button,
.pagination-item-selected .button {
  background-color: #F2F2F2;
}

.pagination-item-selected .button {
  color: black;
}

.pagination-item-three-dots .button{
  color: black;
  background-color: transparent;
}

.button-want-to-sedona {
  width: 160px;
}

.hotel-reservation
{
  padding-top: 96px;
  padding-bottom: 96px;
  text-align: center;
}

.hotel-reservation p
{
  margin: 0 0 20px;
}

.hotel-reservation h2{
  margin: 0 0 54px;
  padding: 0;
}

.hotel-reservation-title,
.newsletter-title
{
  margin: 0;
  padding: 0;
}

.newsletter-title {
  margin: 0 0 20px;
  color: #FFFFFF;
}

.newsletter .decorative-h2
{
  color: #FFFFFF;
}

.hotel-search-big-button {
  font-size: 20px;
  line-height: 36px;
  padding-right: 50px;
  padding-left: 50px;
}

.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  padding-right: 50px;
  padding-left: 50px;
}

.newsletter {
  color: #FFFFFF;
  background-image: url('../images/decor/backgrounds/subscribe-block.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.newsletter p {
  margin: 0 0 54px;
}

.field {
  border: 1px solid transparent;
  outline: none;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  width: 452px;
  font-family: 'PT Sans', serif;
  font-style: normal;
  font-weight: 400;
  border-radius: 4px;
}

.field:focus,
.field:active {
  outline: none;
}

.newsletter-form
{
  justify-content: center;
  display: flex;
}

.newsletter-email-field {
  border-radius: 4px 0 0 4px;
}

.newsletter-button
{
  border-radius: 0 4px 4px 0;
}

.page-footer-bottom {
  align-items: center;
  justify-content: space-between;
  height: 120px;
  display: flex;
  box-sizing: border-box;
  padding: 40px 70px 30px;
}

.notification-counter {
  position: absolute;
  right: 4px;
  top: 11px;
  display: block;
  width: 20px;
  height: 20px;
  font-style: normal;
  font-size: 10px;
  background: #7DB54F;
  border-radius: 10px;
  line-height: 20px;
  color: white;
  text-align: center;
}

.social-icon-vk
{
  background-image: url('../images/decor/icons/social-vk.svg');
}

.social-icon-youtube
{
  background-image: url('../images/decor/icons/social-youtube.svg');
}

.social-icon-telegram
{
  background-image: url('../images/decor/icons/social-telegram.svg');
}

.footer-social-item
{
  display: flex;
  width: 47px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-list {
  height: 100%;
  align-items: center;
  display: flex;
  padding: 0;
  margin: 0;
}

.footer-contacts-address-phone {
  color: #000000;
  text-decoration: none;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
}

.newsletter-light {
  background-image: none;
}

.newsletter-light .newsletter-title {
  color: #000000;
}

.newsletter-light .decorative-h2 {
  color: #333333;
}

.newsletter-light .newsletter-email-field {
  background: #F2F2F2;
}

.container-found-hotels {
  background: #2fb42b;
  padding: 50px 70px 60px;
}

.pagination-item .button{
  margin-right: 8px;
  padding: 0;
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.pagination
{
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}

.large-separator
{
  background-color: #E6E6E6;
  width: 100%;
  height: 1px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.container-filter-hotels {
  padding-left:70px;
  padding-right:70px;
  padding-top:35px;
  background-image: url('../images/decor/backgrounds/hotel-filter.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 412px;
}

.breadcrumbs {
  padding: 0;
  display: flex;
  list-style: none;
  margin: 0 0 40px;
}

.breadcrumbs .breadcrumbs-link {
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item::after {
  content: "";
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
  width: 8px;
  height: 11px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../images/decor/icons/breadcrumbs-arrow.svg');
  vertical-align: middle;
  clear: both;
}

.breadcrumbs li:last-child::after {
  background-image: none;
}

.breadcrumbs li:first-child a span{
  display: none;
}

.breadcrumbs li:first-child a {
  margin-top: 4px;
  display: block;
  float: left;
  width: 13px;
  height: 15px;
  background-image: url('../images/decor/icons/breadcrumbs-home.svg');
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.breadcrumbs-item a{
  margin: 0;
  padding: 0;
}

.control input[type="checkbox"],
.control input[type="radio"] {
  overflow: hidden;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  margin-bottom: 16px;
}


.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url('../images/ux/checkbox.svg');
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  border: 3px solid #83B3D3;
  width: 20px;
  height: 20px;
  top: -1px;
  left: -3px;
}

.control-input[type="checkbox"]:focus + .control-mark
{
  width: 20px;
  height: 20px;
  top: -1px;
  left: -3px;
  border: 3px solid #83B3D3;
}

.control-mark,
.range-toggle {
  position: absolute;
  top: 2px;
  left: 0;
  width: 14px;
  height: 14px;
  border-radius: 4px;
  background-color: white;
  border: 3px solid transparent;
  cursor: pointer;
  padding: 0;
  box-sizing: content-box;
}


.toggle-min,
.toggle-max {
  left: auto;
  top: -8px;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  right: 0;
}

.control:hover .control-mark {
  opacity: 0.5;
}

.control-input:disabled + .control-mark {
  border-color: #242424;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.control-label
{
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.hotel-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotel-filter-group {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  border: none;
  max-width: 150px;
  background-color: #2fb42b;
}

.hotel-filter-group .control-label,
.hotel-filter-title {
  width: 100%;
  word-break: break-all;
  overflow-wrap: break-word;
}

.hotel-filter-title {
  margin-bottom: 32px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: white;
}

.catalog-filter
{
  display: flex;
}

.catalog-filter > :first-child {
  margin-right: 70px;
}

.hotel-filter-buttons-container {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  width: 191px;
}

.hotel-filter-buttons-container > :first-child {
  margin-bottom: 32px;
}

.range {
  display: flex;
  flex-direction: column-reverse;
  justify-content: left;

}

.range-wrapper-inputs {
  display: flex;
}

.range-wrapper-inputs .field{
  flex: 1;
  width: 50%;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: white;
}

.hotel-filter-price-container {
  max-width: 288px;
  width: 288px;
}
