@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #333333;
  flex-direction: column;
}

h1, .decorative-h1 {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

h2, .decorative-h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.main-index-title {
  margin-top: 69px;
  margin-bottom: 25px;
}

.city-advantages-title
{
  margin-top: 0;
  margin-bottom: 69px;
}

.visually-hidden
{
  display: none;
}

.main-container {
  flex-grow: 1;
}

.page-wrapper {
  flex-grow: 1;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  position: relative;
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.navigation-menu {
  margin-left: 238px;
}

.navigation-item {
  height: 64px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  position: relative;
}

.navigation-item-want-to-sedona
{
  padding: 0 0 0 20px;
}

.navigation-item-text a{
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.navigation-item-text.navigation-item-active a::after,
.navigation-item-text a:hover::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 2px;
  background-color: #756257;
  opacity: 1;
  z-index: 1;
}

.navigation-item-icon a {
  width: 100%;
  height: 100%;
}

.navigation-item-icon {
  padding: 0;
  width: 44px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-item-icon-search {
  background-image: url('../images/decor/icons/search.svg');
}

.navigation-item-icon-favorites {
  background-image: url('../images/decor/icons/favorites.svg');
}

.navigation-user
{
  margin-right: 70px;
  margin-left: auto;
}

.page-header-small-logo
{
  position: absolute;
  z-index: 10;
  left: 70px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.main-banner {
  position: relative;
  width: 100%;
}

.main-banner-background {
  width: 100%;
  height: auto;
  display: block;
}

.main-banner-logo-wrapper {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.city-advantages-list {
  text-align: center;
}

.city-advantages-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.main-banner-divider {
  background-image: url('../images/decor/main-banner-divider.svg');
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 57px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom center;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
}

.button-want-to-sedona
{
  width: 160px;
}
